body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

#body-box{
    max-width: 1400px;
    margin: 0 auto;
}

#top-nav{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    width: fit-content;
    box-shadow: 0 2px rgba(128, 128, 128, 0.24);
    font-weight: 500;
}

#top-nav:hover{
    box-shadow: 0 2px rgba(128, 128, 128, 0.35);
}

#top-nav li {
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
}

#top-nav li:hover,
#top-nav li.active{
    text-shadow: 0 1px black;
}

#top-nav a{
    color: inherit;
    text-decoration: inherit;
}

#copyrights{
    text-align: center;
}

#content-box{
    min-height: calc(100vh - 110px);
}